* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
p { font-size: 18px; }

/*
Primary color : #F98866 or rgba(249, 136, 102, 1)
Secondary color : #FF420E or rgba(255, 66, 14, 1)
*/


/* --- HEADER --- */
header {
  display: flex;
  justify-content: center;
  position: relative;
}
.header-img {
  z-index: 10;
  position: absolute;
  width: 1000px;
  height: 300px;
}
.header-img-filter {
  z-index: 11;
  position: absolute;
  width: 1000px;
  height: 300px;
  background-color: rgba(40, 120, 117, 0.3);
}
.header-content {
  z-index: 12;
  position: absolute;
  height: 300px;
  display: flex;
  align-items: center;
  .logo {
    height: 290px;
    margin-right: 10vw;
  }
  .title {
    margin-left: 10vw;
    h1,h2 {
      color: white;
    }
    h1 {
    }
    h2 {
    }
  }
}

/* --- MENU --- */
.menu {
  z-index: 13;
  display: block;
  margin: 0 auto;
  margin-top: 300px;
  max-width: 1000px;
  padding: 10px;
  background-color: rgba(249, 136, 102, 0.85);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li {
      list-style-type: none;
      padding-left: 5px;
      padding-right: 5px;
      a {
        color: black;
        text-decoration: none;
        p {
          white-space: nowrap;
          font-size: 20px;
        }
      }
    }
  }
}
#selected-tab {
  border-bottom: 3px solid rgba(255, 66, 14, 0.85);
}

/* --- CONTENT --- */
.content {
  display: block;
  margin: 0 auto;
  width: 999.5px;
  height: 500px;
  //border: 1px solid rgba(0, 0, 0, 0.2);
}


/* SMALL SCREENS: <700px */
@media screen and (max-width: 700px) {
  .header-img {
    width: 800px;
    height: 200px;
  }
  .header-img-filter {
    height: 200px;
  }
  .header-content {
    height: 200px;
    .logo {
      height: 190px;
      margin-right: 1vw;
    }
    .title {
      margin-left: 1vw;
    }
  }
  .menu {
    margin-top: 195px;
    border-radius: 0;
    ul {
      flex-direction: column;
      li a p {
        font-size: 24px;
      }
    }
  }
}
