* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

p {
  font-size: 18px; }

/*
Primary color : #F98866 or rgba(249, 136, 102, 1)
Secondary color : #FF420E or rgba(255, 66, 14, 1)
Grey-blue: #226664 #287875 #2C8582
*/
header {
  z-index: -1;
  position: relative;
  height: 310px;
  width: 1000px;
  top: 0;
  left: 50%;
  margin-left: -500px; }

.header-img {
  z-index: 1;
  position: absolute;
  width: 1000px;
  height: 310px; }

.header-img-filter {
  z-index: 2;
  position: absolute;
  width: 1000px;
  height: 310px;
  background-color: rgba(40, 120, 117, 0.3); }

.header-content {
  z-index: 3;
  position: absolute;
  height: 310px;
  display: flex;
  align-items: center; }
  .header-content .logo {
    height: 170px;
    margin-right: 350px;
    margin-left: 30px;
    margin-top: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .header-content .title {
    text-align: right;
    margin-top: 135px;
    margin-left: 160px;
    margin-right: 1vw; }
    .header-content .title h1, .header-content .title h2 {
      color: white; }
    .header-content .title h2 {
      white-space: nowrap; }

.menu {
  z-index: 4;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  background-color: #fa997c; }
  .menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .menu ul li {
      list-style-type: none; }
      .menu ul li a {
        color: #1A1A1A;
        text-decoration: none; }
        .menu ul li a p {
          padding: 10px 0;
          white-space: nowrap;
          font-size: 22px; }
        .menu ul li a p:after {
          z-index: 5;
          position: relative;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease; }
        .menu ul li a p:after {
          bottom: -10px;
          display: block;
          height: 3px;
          width: 0%;
          content: "";
          background-color: #F2592E; }
        .menu ul li a p:hover:after,
        .menu ul li a #selected-tab:before {
          opacity: 1;
          width: 100%; }

#selected-tab {
  padding: 6px 0;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid #F2592E; }

.content-box {
  z-index: 5;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px;
  border: 1px solid rgba(0, 0, 0, 0); }

.content {
  margin: 70px 100px; }
  .content .icon {
    width: 30px;
    height: 30px; }
  .content p {
    font-size: 20px;
    margin: 15px auto 15px auto; }
  .content b, .content a {
    color: #2C8582; }
  .content .text-spacer {
    height: 50px;
    width: 1px; }

.content-index p:nth-child(1), .content-index p:nth-child(5) {
  margin: 40px auto 40px auto; }

.content-soutien-jur p:last-child {
  margin: 40px auto 40px auto; }

.content-soutien-psy {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px; }

.content-infos p {
  display: flex;
  margin: 5px auto 5px auto; }
  .content-infos p a {
    margin: -6px auto 8px 30px;
    color: #2C8582;
    text-decoration: none; }
.content-infos h3 {
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 7px solid #2C8582; }
.content-infos .subtitle {
  font-weight: bold;
  font-size: 20px;
  margin: 20px auto 10px 10px; }

footer {
  z-index: 6;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  background-color: #fa997c; }
  footer .footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .footer .footer-logo {
      height: 110px;
      margin-right: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    footer .footer .footer-content {
      margin-left: 15px; }
      footer .footer .footer-content p {
        color: #1A1A1A; }
      footer .footer .footer-content p:nth-child(1) {
        font-size: 22px; }
      footer .footer .footer-content p:nth-child(4) {
        font-size: 16px; }

.back-to-top {
  cursor: pointer;
  z-index: 7;
  position: fixed;
  bottom: 10px;
  right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .back-to-top img {
    width: 45px;
    opacity: 0.9; }

@media screen and (max-width: 1000px) and (min-width: 751px) {
  .header-content {
    left: 50%;
    margin-left: -250px; }
    .header-content .logo {
      height: 150px;
      margin-top: 0;
      margin-right: 1vw; }
    .header-content .title {
      text-align: left;
      margin-top: 0;
      margin-left: 1vw; }

  .content {
    margin: 50px; } }
@media screen and (max-width: 750px) {
  header {
    width: 800px;
    height: 230px;
    margin-left: -400px; }

  .header-img {
    width: 800px;
    height: 230px; }

  .header-img-filter {
    width: 800px;
    height: 230px; }

  .header-content {
    height: 230px;
    left: 50%;
    margin-left: -180px; }
    .header-content .logo {
      height: 100px;
      margin-top: 0;
      margin-right: 1vw; }
    .header-content .title {
      text-align: left;
      margin-top: 0;
      margin-left: 1vw; }
      .header-content .title h1 {
        font-size: 32px; }
      .header-content .title h2 {
        font-size: 24px; }

  .menu {
    max-width: 800px; }
    .menu ul {
      padding: 3px;
      flex-direction: column; }
      .menu ul li a p {
        padding: 0;
        font-size: 22px; }
      .menu ul li a p:after {
        bottom: -3px; }

  .content {
    margin: 30px; }
    .content p {
      font-size: 18px; }

  #selected-tab {
    padding: 0;
    border: none;
    box-shadow: 0 3px 0 0 #F2592E; }

  .back-to-top {
    bottom: 5px;
    right: 10px; } }

/*# sourceMappingURL=style.css.map */
