* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
p { font-size: 18px; }

/*
Primary color : #F98866 or rgba(249, 136, 102, 1)
Secondary color : #FF420E or rgba(255, 66, 14, 1)
Grey-blue: #226664 #287875 #2C8582
*/


// --- HEADER ---
header {
  z-index: -1;
  position: relative;
  height: 310px;
  width: 1000px;
  top: 0;
  left: 50%;
  margin-left: -500px;
}
.header-img {
  z-index: 1;
  position: absolute;
  width: 1000px;
  height: 310px;
}
.header-img-filter {
  z-index: 2;
  position: absolute;
  width: 1000px;
  height: 310px;
  background-color: rgba(40, 120, 117, 0.3);
}
.header-content {
  z-index: 3;
  position: absolute;
  height: 310px;
  display: flex;
  align-items: center;
  .logo {
    height: 170px;
    margin-right: 350px;
    margin-left: 30px;
    margin-top: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .title {
    text-align: right;
    margin-top: 135px;
    margin-left: 160px;
    margin-right: 1vw;
    h1,h2 {
      color: white;
    }
    h2 {
      white-space: nowrap;
    }
  }
}

// --- MENU ---
.menu {
  z-index: 4;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgba(249, 136, 102, 0.85);
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    li {
      list-style-type: none;
      a {
        color: #1A1A1A;
        text-decoration: none;
        p {
          padding: 10px 0;
          white-space: nowrap;
          font-size: 20px;
        }
        p:after {
          z-index: 5;
          position: relative;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
        }
        p:after {
          bottom: -10px;
          display: block;
          height: 3px;
          width: 0%;
          content: "";
          background-color: #F2592E;
        }
        p:hover:after,
        #selected-tab:before {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
}
#selected-tab {
  padding: 7px 0;
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid #F2592E;
}

// --- CONTENT ---
.content-box {
  z-index: 5;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 30px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.content {
  margin: 70px 100px;
  p {
    font-size: 20px;
    margin: 15px auto 15px auto;
  }
  b {
    color: #2C8582;
  }
}
// index.html
.content-index {
  p:nth-child(1), p:nth-child(5) {
    margin: 40px auto 40px auto;
  }
}
// soutien-juridique.html
.content-soutien-jur {
  p:last-child{
    margin: 40px auto 40px auto;
  }
}
// soutien-psychologique.html
.content-soutien-psy {
  text-align: center;
}
// infos-pratiques.html
.content-infos {

}

// --- FOOTER ---
footer {
  z-index: 6;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgba(249, 136, 102, 0.85);
  .footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-logo {
      height: 110px;
      margin-right: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .footer-content {
      margin-left: 15px;
      p {
        color: #1A1A1A;
      }
      p:nth-child(1){
        font-size: 22px;
      }
      p:nth-child(4){
        font-size: 16px;
      }
    }
  }
}

// --- Button to top ---
.back-to-top {
  cursor: pointer;
  z-index: 7;
  position: fixed;
  bottom: 10px;
  right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    width: 45px;
    opacity: 0.9;
  }
}



// Transition (1000> & <750)
@media screen and (max-width: 1000px) and (min-width: 751px) {
  .header-content {
    left: 50%;
    margin-left: -250px;
    .logo {
      height: 150px;
      margin-top: 0;
      margin-right: 1vw;
    }
    .title {
      text-align: left;
      margin-top: 0;
      margin-left: 1vw;
    }
  }
  .content {
    margin: 50px;
  }
}
// Small screens (<750)
@media screen and (max-width: 750px) {
  header {
    width: 800px;
    height: 230px;
    margin-left: -400px;
  }
  .header-img {
    width: 800px;
    height: 230px;
  }
  .header-img-filter {
    width: 800px;
    height: 230px;
  }
  .header-content {
    height: 230px;
    left: 50%;
    margin-left: -180px;
    .logo {
      height: 100px;
      margin-top: 0;
      margin-right: 1vw;
    }
    .title {
      text-align: left;
      margin-top: 0;
      margin-left: 1vw;
      h1 {
        font-size: 32px
      }
      h2 {
        font-size: 24px
      }
    }
  }
  .menu {
    max-width: 800px;
    ul {
      padding: 3px;
      flex-direction: column;
      li a p {
        padding: 0;
        font-size: 22px;
      }
      li a p:after {
        bottom: -3px;
      }
    }
  }
  .content {
    margin: 30px;
  }
  #selected-tab {
    padding: 0;
    border: none;
    box-shadow: 0 3px 0 0 #F2592E;
  }
  .back-to-top {
    bottom: 5px;
    right: 10px;
  }
}
